@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	margin: 0px;
	background-color: white; 
	color: black;

	@media (min-width: 992px) {
		background-image: url('images/night-in-the-city-wallpaper.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}

	a {
		text-decoration: none;
		color: black;
		&:hover {
			color:grey;
			// font-weight: bold;
			text-decoration: none;
		}
	}
	
	header {
		// position: sticky;
		// top: 0;
		// z-index: 1000;
		background-color: white;
		// border-bottom: 1px solid black;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
		
		.logo {
			font-family: 'Open Sans';
			padding: 0.5em 0;
			margin-bottom: 0;
			font-size: 1.8em;
			float: left;
		}
		
		nav {
			margin-top: 1.35em;
			font-family: 'Raleway';
			font-size: 1.2em;
			text-align: right;
			
			> a {
				margin: 0 0.3em;
			}
		}
	}

	main {
		@media (min-width: 992px) {
			position: relative;
			top: 100vh;
		}
		background-color: white;

		div.container {
			padding-top: 1px; // just so that the margin on top of the first section applies
		}

		section {
			&.row {
				margin-top: 3em;
				padding-top: 0.5em;
				
				h1, h2, h3, h4 {
					font-family: 'Raleway';
					margin-bottom: 0;
					@media (max-width: 576px) {margin-top: 10px;}
				}

				p {
					margin-top: 0;
					font-family: 'Poppins';
					font-weight: 200;
					font-size: 0.9em;
				}
				
				& img {
					width: 100%;
					object-fit: cover;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
					transition: transform .5s ease;
		
					&:hover {
						@media (min-width: 992px) { transform: scale(1.05); }
					}
				}
			}
			
		}
	}

	.right-align {
		text-align: right;
	}
}




