@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,800,900');

// colors
@text-color-light-mode: #171717;
@text-color-dark-mode: #e6e6e6;
@my-blue: #2c6793;
@my-gold: #FFD700;

// media breakpoints
@small: 576px;
@medium: 768px;
@large: 992px;


html {
	scroll-behavior: smooth;
	@media (max-width: @small) { scroll-padding-top: 5.5em };
	scroll-padding-top: 3.5em;
}

body {
	width: 100%;
	margin: 0px;
	color: black;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;

	background-image: url('images/cover/atmosphere-5-1280x-90.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 26%;
	background-attachment: fixed;

	#bg-container { 
		margin: 0;
		height: 100vh;

		@media (max-width: @medium) {
			height: 85vh;
			#bg-slideshow { display: none; }
		}
				
		#bg-slideshow {
			figure {
				background-size      : cover;
				background-position  : center;
				background-repeat    : no-repeat;
				background-attachment: fixed;
				width                : 100%;
				height               : 100%;
				position             : absolute;
				top                  : 0px;
				left                 : 0px;
				z-index              : -1;
				color                : transparent;
				opacity              : 0;
				animation            : imageAnimation 30s linear infinite 0s;
			}

			& > figure:nth-child(1) {
				background-image: url('./images/cover/atmosphere-5-1280x-90.jpg');
				background-position: center 26%;
			}
			& > figure:nth-child(2) {
				background-image: url('./images/cover/photo-austria-1280x-80.jpg');
				background-position: center 70%;
				animation-delay: 6s;
			}
			& > figure:nth-child(3) {
				background-image: url('./images/cover/photo-tower1280x-80.jpg');
				animation-delay: 12s;
			}
			& > figure:nth-child(4) {
				background-image: url('./images/cover/photo-neons-purple1280x-80.jpg');
				animation-delay: 18s; 
			}
			& > figure:nth-child(5) {
				background-image: url('./images/cover/photo-gallery.jpg');
				animation-delay: 24s; 
			}
			
			@keyframes imageAnimation { 
				0% { opacity: 0; animation-timing-function: ease-in; }
				5% { opacity: 1; animation-timing-function: ease-out; }
				17% { opacity: 1 }
				30% { opacity: 0 }
				100% { opacity: 0 }
			}
		}
	}

	a {
		text-decoration: none;
		outline: none;
		color: inherit;
		&:hover {
			color:@my-blue;
			text-decoration: none;
		}
	}
	
	.logo {
		font-weight: 400;
		font-size: 35px;
		letter-spacing: 3px;
	}

	header {
		position: fixed;
		width: 100%;
		z-index: 10;
		background-color: white;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
		padding: 0.5em 0;
		
		nav {
			font-weight: 300;

			display: flex;
			align-items: center;
			justify-content: flex-end;
			font-size: 1.2em;
			@media (max-width: @small) {
				justify-content: space-between; 
				font-size: 1.1em;
			}
			@media (max-width: 356px) { font-size: 5vw;}
			
			> a {
				margin: 0 0.3em;
			}
		}
	}

	main {
		position: relative;

		div.container-fluid {
    		max-width: 3000px;
		}

		.fa-caret-style {
			font-family: "Font Awesome 5 Free";
			display: inline-block;
			padding: 0 3px;
			font-weight: 900;
			font-size: 0.9em;
		}

		section {
			background-color: white;
			@media (max-width: @small) { padding: 5% 2%; }
			padding: 2% 15%;
			
			h4 {
				font-weight: 300;
				font-size: 1.28em;
			}
			
			h5 {
				font-weight: 400;
				font-size: 1.05em;
				margin-bottom: 2px;
			}

			h6 {
				font-weight: 500;
				font-size: 0.96em;
				margin-bottom: 0;
			}

			p, li {
				font-weight: 300;
				font-size: 0.88em;
				color: @text-color-light-mode;
			}
			
			ul {
				list-style-type: none;
				padding-left: 0;
				li > p {
					padding-left: 52px;
				}
			}

			&:nth-child(even) {
				background-color: rgba(8, 8, 8, 0.98);
				color: white;

				p { color: @text-color-dark-mode }

				a {
					color: white;
					&:hover {
						color: @my-gold;
					}
				}
			}

			img.section-illustration {
				width: 100%;
				object-fit: cover;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				
				@media (max-width: @small) {
					max-height: 380px;
					overflow: hidden;
					margin-bottom: 1em;
				}

				@media (min-width: @large) { 
					transition: filter .5s ease;
					filter: grayscale(100%);

					&:hover {
						filter: none; 
					}
				}
			}

			.img-gallery {
				width: 100%;
				margin: 1em 0;

				.thumbnail {
					@media (max-width: @small) { height: 38vh; }
					height: 200px;
					padding: 1px;
					cursor: pointer;

					display: flex;
					justify-content: center;
					align-items: center;
					overflow: hidden;

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}

					div.overlay {
						position: absolute;
						opacity: 0;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: flex-end;
						background-color: rgba(41, 40, 38);
						width: 100%;
						height: 100%;
						padding: 3%;
						transition: opacity .4s ease;
						&:hover {
							opacity: 80%;
						}

						> p { margin-bottom: 0 }
					}
				}
			}

			&#contact i.fas { // font awesome icons in contact
				margin-right: 6px;
				font-size: 0.8em;
			}

			&#press {
				a:after {
					content: "\f105";
					.fa-caret-style();
				}
			}

			.section-details { // to adjust with the main h4 title of the section
				padding-top: 0.3em;
			}

			&.with-fixed-background {
				height: 300px;
				background-image: url('/images/projects/terra-6-1500x-q90.jpg');
				background-attachment: fixed;
				background-size: unset;
				background-position-y: center;
				background-position-x: center;
			}
			
			&.flex-column-all-centered {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			
			&#footer-banner {
				color: @text-color-dark-mode;
				p { font-size: 1em; margin-bottom: 0; }
			}
		}

	}

	.modal {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.5s ease;
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.98);
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		overflow-y: hidden;
		
		.modal-content { /* Modal Content (Image) */
			@media (max-width: @small) {
				max-width: 95%;
				height: auto;
				max-height: 85%;
				width: auto;
			}
			width: auto;
			height: 75%;
			border: none;
		}
		
		.modal-caption { 
			text-align: center;
			color: #ccc;
			font-size: 0.95em;
			font-weight: 200;
			* { margin-bottom: 0; }
			h6 { 
				color: @text-color-dark-mode; 
				font-size: 1.05em;
				font-weight: 300;
			}
			p:last-child { font-size: 0.85em; }
		}
	  }
	  
	&.modal-opened {
		overflow-y: hidden;
	}

}




