@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHh30AXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Japanese Thin'), local('NotoSansJapanese-Thin'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F6ofjtqLzI2JPCgQBnw7HFQojgN8lE.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F6pfjtqLzI2JPCgQBnw7HFQaioa1Xdj.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F62fjtqLzI2JPCgQBnw7HFYwQgM.otf) format('opentype');
}
html {
  scroll-behavior: smooth;
}
@media (min-width: 576px) {
  html {
    scroll-padding-top: 3em;
  }
}
@media (max-width: 576px) {
  html {
    scroll-padding-top: 5em;
  }
}
body {
  width: 100%;
  margin: 0px;
  background-color: white;
  color: black;
  background-image: url('images/photo-neons-in-the-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
@media (max-width: 768px) {
  body #bg-container {
    margin: 0;
    height: 85vh;
  }
  body #bg-container #bg-slideshow {
    display: none;
  }
}
@media (min-width: 768px) {
  body #bg-container {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body #bg-container .title-over-bg {
    font-size: 62px;
    opacity: 70%;
    font-family: 'Montserrat';
    display: none;
  }
  body #bg-container #bg-slideshow figure {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    color: transparent;
    opacity: 0;
    animation: imageAnimation 30s linear infinite 0s;
  }
  body #bg-container #bg-slideshow > figure:nth-child(1) {
    background-image: url('images/photo-neons-in-the-dark.jpg');
  }
  body #bg-container #bg-slideshow > figure:nth-child(2) {
    background-image: url('images/photo-neons-purple1280x-80.jpg');
    animation-delay: 6s;
  }
  body #bg-container #bg-slideshow > figure:nth-child(3) {
    background-image: url('images/photo-gallery.jpg');
    animation-delay: 12s;
  }
  body #bg-container #bg-slideshow > figure:nth-child(4) {
    background-image: url('images/photo-tower1280x-80.jpg');
    animation-delay: 18s;
  }
  body #bg-container #bg-slideshow > figure:nth-child(5) {
    background-image: url('images/concretex900-q75.jpg');
    animation-delay: 24s;
  }
  @keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
    }
    9% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    18% {
      opacity: 1;
    }
    27% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
body a {
  text-decoration: none;
  outline: none;
  color: black;
}
body a:hover {
  color: grey;
  text-decoration: none;
}
body header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5em 0;
}
body header .logo > a {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 35px;
}
body header .logo > a:hover {
  color: initial;
  text-decoration: none;
}
body header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.2em;
}
@media (min-width: 576px) {
  body header nav {
    justify-content: flex-end;
  }
}
@media (max-width: 576px) {
  body header nav {
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.1em;
  }
}
@media (max-width: 356px) {
  body header nav {
    font-size: 4vw;
  }
}
body header nav > a {
  margin: 0 0.3em;
}
body main {
  position: relative;
  background-color: white;
}
body main div.container {
  padding-top: 1px;
  margin-bottom: 3em;
  width: 100%;
  max-width: 3000px;
}
body main section.row {
  padding: 1.7em 0;
  font-family: 'Roboto';
}
body main section.row h4 {
  font-weight: 400;
  font-size: 1.25em;
}
body main section.row h5 {
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 2px;
}
body main section.row h6 {
  font-weight: 500;
  font-size: 0.96em;
  margin-bottom: 0;
}
body main section.row p,
body main section.row li {
  font-weight: 300;
  font-size: 0.88em;
  color: #171717;
}
body main section.row ul {
  list-style-type: none;
  padding-left: 0;
}
body main section.row ul li > p {
  padding-left: 52px;
}
body main section.row .fa-caret-style {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding: 0 3px;
  font-weight: 900;
  font-size: 12px;
}
body main section.row a[data-toggle="collapse"]:not([class]):after,
body main section.row a[data-toggle="collapse"].collapsed:after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding: 0 3px;
  font-weight: 900;
  font-size: 12px;
}
body main section.row a[data-toggle="collapse"][class=""]:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding: 0 3px;
  font-weight: 900;
  font-size: 12px;
}
body main section.row img {
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  body main section.row img {
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }
  body main section.row img:hover {
    filter: none;
  }
}
body main section.row:nth-child(even) {
  background-color: rgba(8, 8, 8, 0.96);
  color: white;
}
body main section.row:nth-child(even) p {
  color: #e6e6e6;
}
body main section.row:nth-child(even) a {
  color: white;
}
body main section.row:nth-child(even) a:hover {
  color: #FFD700;
}
body main section.row i {
  margin-right: 6px;
}
body main section.row .section-details {
  padding-top: 0.3em;
}
body .right-align {
  text-align: right;
}
